# ===============================
# ENVIRONMENT
# ===============================
NODE_ENV=development
TIMEZONE=Asia/Kolkata

# ===============================
# POSTGRES DATABASE
# ===============================
POSTGRES_USER=praxio
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=praxio
POSTGRES_PORT=5432

DATABASE_URL = 

# ===============================
# REDIS
# ===============================
REDIS_PORT=6379

# ===============================
# DISCORD CONFIG
# ===============================
DISCORD_BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=PASTE_YOUR_CLIENT_ID_HERE

# Optional (sirf dev / single server ke liye)
DISCORD_GUILD_ID=PASTE_TEST_GUILD_ID

# ===============================
# API SERVICE
# ===============================
API_PORT=3000
API_KEY=super_secret_api_key

# ===============================
# LOGGING / SECURITY (OPTIONAL)
# ===============================
LOG_LEVEL=info
